h1,.h1 {
    font-size: var(--h1);
}

h2,.h2 {
    font-size: var(--h2);
}

h3,.h3 {
    font-size: var(--h3);
}

h4,.h4 {
    font-size: var(--h4);
}

a.normal {
    color: inherit;
    text-decoration: none;
}

.clearfix {
    &::after {
        display: table;
        content: '';
        clear: both;
    }
}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.overflow {
    overflow: hidden;
}
.c-hide {
    display: none;
}